/* Для вебkit-браузеров (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0;  /* Устанавливаем ширину полосы прокрутки на 0 */
  height: 0; /* Устанавливаем высоту полосы прокрутки на 0 */
}

/* Для всех браузеров */
body {
  overflow: -moz-scrollbars-none; /* Отключаем полосы прокрутки для Firefox */
  -ms-overflow-style: none;       /* Отключаем полосы прокрутки для IE и Edge */
}

/* Скрываем полосы прокрутки для всех элементов на странице */
html, body {
  scrollbar-width: none;  /* Firefox */
}

.light {
  margin: 0;

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format("truetype");
  }

  .dd {
    opacity: 0;
  }

  * {
    transition: 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(236, 236, 236);
    color: rgb(34, 34, 34);
  }

  .background {
    background: rgb(236, 236, 236);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    margin-bottom: 129px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    width: 358px;
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    font-family: Montserrat;
    margin-top: 32px;
    padding-bottom: 16px;
  }

  .gr{
    width: 358px;
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    font-family: Montserrat;
    margin-top: 32px;
    padding-bottom: 16px;
  }

  .button-container {
    display: flex;
    margin-bottom: 20px;
    width: 358px;
    height: 47px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 8px;
  }

  .button {
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    width: 167px;
    height: 31px;
    border: none;
    color: #333;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .button:hover {
    background-color: #ddd;
  }

  .button.active {
    background: rgb(236, 236, 236);
    color: rgb(44, 44, 44);
  }

  .dropdown-container {
    border-bottom: 2px solid black;
    border-radius: 0;
    padding: 10px;
    display: flex;
    border-color: rgba(60, 60, 60, 0.36);
    justify-content: space-between;
    align-items: center;
    width: 358px;
    height: 47px;
    cursor: pointer;
  }

  .dropdown-container label {
    color: rgb(102, 102, 102);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .dropdown-container select {
    padding: 5px;
    border: 0;
    background: transparent;
    color: rgb(102, 102, 102);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .dropdown-container::after {
    clip-path: inset(37% 52% 0 0);
    margin-top: -20px;
    content: '▼';
    border: 2px solid rgb(102, 102, 102);
    border-radius: 1.5px;
    transform: rotate(-45.00deg);
    font-size: 12px;
    color: #5c5c5c;
    padding-left: 10px;
    background: transparent;
  }

  .add__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 42px;
    border: 0;
    margin-top: 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .add__button:hover {
    background-color: #ddd;
  }

  .date {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    color: rgb(18, 18, 18);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .container {
    width: 358px;
    height: 153px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }

  .center_left {
    display: flex;
    justify-content: right;
  }

  .card1, .card2, .card3 {
    width: 342px;
    box-sizing: border-box;
  }

  .card1 {
    border-bottom: 0.33px solid rgba(60, 60, 67, 0.36);
  }

  .card1 .first, .card2 .first, .card3 .first {
    width: 326px;
    padding-top: 12px;
    color: rgb(34, 34, 34);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .card1 .second, .card2 .second, .card3 .second {
    margin-right: 12px;
    color: rgb(44, 44, 44);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    width: 326px;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  .card1:hover p, .card2:hover p {
    color: #5c5c5c;
  }

  .contract {
    height: 250px !important;
  }

  .buttons a {
    text-decoration: none;
  }

  .massage {
    bottom: 112px;
    width: 149px;
    height: 49px;
    gap: 10px;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 36px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    background: rgb(255, 255, 255);
    position: fixed;
    align-items: center;
    right: 20px;
  }

  .massage img {
    width: 21px;
    height: 21px;
  }

  .massage p {
    color: rgb(44, 44, 44);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    transition: opacity 0.5s;
    opacity: 100%;
  }

  .massage:hover {
    background: rgb(255, 255, 255);
  }

  .massage.scrolled {
    width: 49px;
    margin-bottom: -100px;
  }

  .massage.img.scrolled {
    margin-left: 90px;
  }

  .massage.scrolled p {
    opacity: 0;
    display: none;
  }

  .pc.hidden {
    opacity: 0;
  }

  .pc.scrolled p {
    display: none;
  }

  .pc {
    border-radius: 25px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
  }

  .pc img {
    width: 16px;
    height: 16px;
  }

  .pc:hover {
    background: rgba(255, 255, 255);
  }

  .hidden {
    margin-bottom: -100px;
  }

  .scrolled {
    opacity: 0.5;
  }

  .theme.hidden {
    opacity: 1;
  }

  .theme {
    opacity: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    background: rgba(34, 34, 34, 0.7);
    position: fixed;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
  }

  .theme img {
    width: 16px;
    height: 16px;
    color: white;;
  }

  .theme:hover {
    background: rgba(34, 34, 34, 1);
  }
}

.dark {


  nav{
    background: rgb(27, 27, 27);
  }

  .active p {
    color: white !important;
  }

  .active img {
    filter: contrast(2175%) brightness(100%) !important;
  }


  body.dark {
    background-color: #121212;
    color: #ffffff;
  }

  /* Popup container */
  .frame {
    width: 100%;
    height: 245px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 32px 16px;
    background: #232323;
    border-radius: 10px 10px 0 0;
  }

  /* Top button in popup */
  .top_button {
    border-radius: 2.5px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: rgba(60, 60, 67, 0.3);
    width: 35.73px;
    height: 5px;
  }

  /* Title in popup */
  .title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.43px;
    text-align: center;
  }

  /* Input placeholder */
  input::placeholder {
    color: #999999;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
  }

  /* Input field */
  .input {
    width: 328px;
    height: 42px;
    border: 0;
    background: transparent;
    color: #999999;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    border-bottom: 0.33px solid #999999;
  }

  /* Textarea */
  .textarea {
    width: 328px;
    height: 53px;
    border: 0;
    background: transparent;
    color: #999999;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
  }

  /* Textarea placeholder */
  .textarea::placeholder {
    padding-top: 25px;
    color: #999999;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
  }

  /* Input group 1 */
  .input-group1 {
    background: #2e2e2e;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 358px;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
  }

  /* Input group 2 */
  .input-group2 {
    background: #2e2e2e;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 358px;
    display: flex;
    justify-content: right;
  }

  /* Title inside input group */
  .title {
    width: 326px;
    font-size: 1.25em;
    margin: 10px 0;
  }

  /* Remove outline on focus */
  :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }

  /* Button inside popup */
  .buttonn {
    border-radius: 16px;
    background: #2e2e2e;
    width: 358px;
    height: 42px;
    border: 0;
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
  }

  /* Button hover state */
  .buttonn:hover {
    background-color: #424242;
  }

  /* "Not mandatory" label */
  .im {
    clip-path: inset(0 24% 40px 0);
    position: absolute;
    color: #eeeeee !important;
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    margin-top: 6px;
  }

  /* Textarea */
  .textarea {
    color: #eeeeee;
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
  }

  /* Blur effect for background */
  .blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }


  margin: 0;

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format("truetype");
  }

  * {
    transition: 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
  }

  .background {
    background: rgb(18, 18, 18);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    margin-bottom: 129px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    width: 358px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    font-family: Montserrat;
    margin-top: 32px;
    padding-bottom: 16px;
  }

  .button-container {
    display: flex;
    margin-bottom: 20px;
    width: 358px;
    height: 47px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgb(34, 34, 34);
    gap: 8px;
  }

  .button {
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    width: 167px;
    height: 31px;
    border: none;
    color: #ccc;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .button:hover {
    background-color: #555;
  }

  .button.active {
    background: rgb(59 59 59);
    color: rgb(200, 200, 200);
  }

  .dropdown-container {
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    padding: 10px;
    display: flex;
    border-color: rgba(255, 255, 255, 0.36);
    justify-content: space-between;
    align-items: center;
    width: 358px;
    height: 47px;
    cursor: pointer;
  }

  .dropdown-container label {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .dropdown-container select {
    padding: 5px;
    border: 0;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .dropdown-container::after {
    clip-path: inset(37% 52% 0 0);
    margin-top: -20px;
    content: '▼';
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1.5px;
    transform: rotate(-45.00deg);
    font-size: 12px;
    color: #ccc;
    padding-left: 10px;
    background: transparent;
  }

  .add__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 42px;
    border: 0;
    margin-top: 16px;
    border-radius: 16px;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .add__button:hover {
    background-color: #555;
  }

  .date {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .container {
    width: 358px;
    height: 153px;
    border-radius: 16px;
    background: rgb(34, 34, 34);
  }

  .center_left {
    display: flex;
    justify-content: right;
  }

  .card1, .card2, .card3 {
    width: 342px;
    box-sizing: border-box;
  }

  .card1 {
    border-bottom: 0.33px solid rgba(255, 255, 255, 0.36);
  }

  .card1 .first, .card2 .first, .card3 .first {
    width: 326px;
    padding-top: 12px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

  .card1 .second, .card2 .second, .card3 .second {
    margin-right: 12px;
    color: rgb(200, 200, 200);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    width: 326px;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  .card1:hover p, .card2:hover p {
    color: #ccc;
  }

  .contract {
    height: 250px !important;
  }

  .buttons a {
    text-decoration: none;
  }

  .massage {
    bottom: 112px;
    width: 149px;
    height: 49px;
    gap: 10px;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 36px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    background: rgb(34, 34, 34);
    position: fixed;
    align-items: center;
    right: 20px;
  }

  .massage img {
    width: 21px;
    height: 21px;
  }

  .massage p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    transition: opacity 0.3s;
  }

  .massage:hover {
    background: rgb(34, 34, 34);
  }

  .massage.scrolled {
    margin-bottom: -100px;
    width: 49px;
  }

  .massage.scrolled p {
    display: none;
  }

  .pc.hidden {
    opacity: 0;
  }

  .theme.hidden {
    opacity: 1;
  }


  .pc {
    border-radius: 25px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    background: rgba(18, 18, 18, 0.7);
    position: fixed;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
  }

  .pc img {
    width: 16px;
    height: 16px;
  }

  .pc:hover {
    background: rgba(18, 18, 18);
  }

  .hidden {
    display: none;
  }

  .scrolled {
    opacity: 0.5;
  }

  .theme {
    opacity: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
  }

  .theme img {
    width: 16px;
    height: 16px;
  }


  .theme {
  }
}

.frame {
  width: 100%;
  height: 245px;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 16px 32px 16px;
  background: rgb(217, 217, 217);
  border-radius: 10px 10px 0 0;
}

.top_button {
  border-radius: 2.5px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: rgba(60, 60, 67, 0.3);
  width: 35.73px;
  height: 5px;
}

.title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.43px;
  text-align: center;
}

input::placeholder {
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.input {
  width: 328px;
  height: 42px;
  border: 0;
  background: transparent;
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 0.33000001311302185px solid rgba(60, 60, 67, 0.36);

}

.textarea {
  width: 328px;
  height: 53px;
  border: 0;
  background: transparent;
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.textarea::placeholder {
  padding-top: 25px;
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  color: rgb(44, 44, 44);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}


.input-group1 {
  background: rgb(236, 236, 236);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 358px;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
}

.input-group2 {
  background: rgb(236, 236, 236);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 358px;
  display: flex;
  justify-content: right;
}

.title {
  width: 326px;
  font-size: 1.25em;
  margin: 10px 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.buttonn {
  border-radius: 16px;
  background: rgb(236, 236, 236);
  width: 358px;
  height: 42px;
  border: 0;
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;

  color: rgb(34, 34, 34);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.buttonn:hover {
  background-color: rgb(255, 255, 255);
}

.im {
  font-size: 12px !important;
  clip-path: inset(0 24% 40px 0);
  position: absolute;
  color: rgb(153, 153, 153) !important;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 6px;
}

.textarea {
  color: rgb(34, 34, 34);
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.frame {
  width: 100%;
  height: 245px;
  position: fixed;
  bottom: 0;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}


nav {
  width: 100%;
  height: 102px;
  box-sizing: border-box;
  border-bottom: 0.33000001311302185px solid rgba(60, 60, 60, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;


  .blocks {
    display: flex;
    gap: 10px;

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p{
      margin-top: 8px;
      color: rgb(164, 164, 164);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0px;
      text-align: center;
    }



    .element1 {
      width: 112px;
    }

    .element2 {
      width: 112px;
    }

    .element3 {
      width: 112px;
    }
  }
}

.background.blurred {
  filter: blur(5px); /* Пример размытия */
}

/* Стиль по умолчанию */
p {
  color: black;
}

/* Активный стиль */
p.active {
  color: red; /* или другой цвет для активного состояния */
}

.active p {
  color: black !important;
}

.active img {
  filter: invert(100%) !important;
}

nav{
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
}

